<!DOCTYPE html>
<html>
<head>
  <title>EstudaJunto</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="/">EstudaJunto</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  
                  <li>
                    <% if user_signed_in? %>
                      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                    <% else %>
                      <a class="page-scroll" href="/users/sign_in">Login</a>
                    <% end %>
                  </li>
                  <li>
                      <a class="page-scroll" href="/groups">Grupos</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">Sobre</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contato</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

<header>
    <div class="header-content">

            <%= yield %>

    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A inteligência coletiva é maior que a individual!</h2>
                <hr class="light">
                <p class="text-faded">Troque conhecimento, descubra novos pontos de vistas e forme diferentes maneiras de se chegar ao resultado de uma equação ou de aplicar fórmulas de acordo com outros raciocínios!</p>
                <a href="#" class="btn btn-default btn-xl">COMECE AGORA!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O que faz um bom grupo de estudos?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Pessoas diferenciadas</h3>
                    <!-- <p class="text-muted">Our templates are updated regularly so they don't break.</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Desenvolvimento de novas habilidades via interatividade com terceiros</h3>
                    <!-- <p class="text-muted">You can use this theme as is, or you can make changes!</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Reuniões regulares geram o hábito de estudar nos alunos</h3>
                    <!-- <p class="text-muted">We update dependencies to keep things fresh.</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Reuniões regulares previnem "a matéria acumular"</h3>
                    <!-- <p class="text-muted">You have to make your websites with love these days!</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Universidade
                            </div>
                            <div class="project-name">
                                Instituto Tecnológico da Aeronáutica - Comp 10
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Curso
                            </div>
                            <div class="project-name">
                                Turma de Medicina USP 2016
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Universidade
                            </div>
                            <div class="project-name">
                                Alunos da UFMG
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Faculdade
                            </div>
                            <div class="project-name">
                                Escola Politécnica da USP
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Universidade
                            </div>
                            <div class="project-name">
                                Turismo PUC-Minas 2005
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Universidade
                            </div>
                            <div class="project-name">
                                Prod 2013
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Não encontrou o seu grupo?</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Procure aqui!</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dúvidas? Fale com a gente!</h2>
                <hr class="primary">
                <p>Interessado em formar um grupo de estudo, mas com dúvidas sobre como dar início ao projeto? Estamos aqui para ajudá-lo.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>0800-666-1010</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">contato@estudajunto.com.br</a></p>
            </div>
        </div>
    </div>
</section>

</body>
</html>
